* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: teal;
font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-weight:bolder;
    background-image: linear-gradient(to right, darkblue, lightblue);
    color: white;
    border-bottom: 1px solid rgb(52, 52, 144);
    padding: .5rem 1rem; 
}

.window {
    margin: 50px;
    border: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    width:28rem;
    box-shadow: 3px 3px 5px 0px rgba(77,77,77,0.5) ;
}

.message {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    gap:20px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

#button {
    margin-right: 15px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 5px 10px;
    background-color: inherit;
}

#button:active {
    box-shadow: 3px 3px 5px 0px rgba(77,77,77,0.5) ;
}